#ignore things that begin with a dot, except
.*
!.gitignore
!.devcontainer
!.vscode
!.github

#ignore json files, except devcontainer.json
*.json
!devcontainer.json

#ignore pycache
__pycache__/

#ignore devcontainer.env
devcontainer.env
